In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *
%matplotlib inline

In [16]:
train_data2 = pd.read_csv("./dataSet_phase2/dataSet_phase2/volume(table 6)_training2-1.csv")
train_data2.head()

          date_time  tollgate  direction  model  is_etc  veh_type
0  2016/10/18 23:55         3          0      1       1       NaN
1  2016/10/18 23:56         3          0      1       0       NaN
2  2016/10/18 23:56         3          0      3       0       NaN
3  2016/10/18 23:57         3          0      1       0       NaN
4  2016/10/18 23:57         3          0      1       0       NaN

In [17]:
train_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128823 entries, 0 to 128822
Data columns (total 6 columns):
date_time    128823 non-null object
tollgate     128823 non-null int64
direction    128823 non-null int64
model        128823 non-null int64
is_etc       128823 non-null int64
veh_type     59992 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.9+ MB

In [18]:
volume_data = train_data2[["date_time", "tollgate", "direction"]].copy()
volume_data = volume_data.sort_values(by=["date_time"])
volume_data["date_time"] = volume_data["date_time"].apply(pd.Timestamp)
tollgate_direction = [[1, 0], [1, 1], [2, 0], [3, 0], [3, 1]]
# tollgate_direction = [[1, 0]]
result = pd.DataFrame()

def generate_feature(volume, tollgate, direction):
    temp = volume.copy()
    temp["tollgate_id"] = tollgate
    temp["direction"] = direction
    temp["time_window"] = temp["time"].apply(lambda time_basic: "[" + str(time_basic) + "," + \
                                                  str(time_basic + DateOffset(minutes=20)) + ")")
    temp["time"]
    return temp
    
for tollgate, direction in tollgate_direction:
    temp = volume_data[(volume_data["tollgate"] == tollgate) & (volume_data["direction"] == direction)][["date_time"]]
    temp["volume"] = 1
    temp.index = temp["date_time"]
    del temp["date_time"]
#     print(temp)
    temp = temp.resample("20T").sum()
    
    # 取8点到10点，17点到19点的数据
    temp["time"] = temp.index
    temp["hour"] = temp["time"].apply(lambda x: x.hour)
    temp1 = temp[(temp["hour"] >= 8) & (temp["hour"] < 10)][["volume", "time"]]
    temp1 = generate_feature(temp1, tollgate, direction)
    temp2 = temp[(temp["hour"] >= 17) & (temp["hour"] < 19)][["volume", "time"]]
    temp2 = generate_feature(temp2, tollgate, direction)
    result = result.append(temp1, ignore_index=True)
    result = result.append(temp2, ignore_index=True)

result

,volume,time,tollgate_id,direction,time_window
0,50,2016-10-18 08:00:00,1,0,"[2016-10-18 08:00:00,2016-10-18 08:20:00)"
1,41,2016-10-18 08:20:00,1,0,"[2016-10-18 08:20:00,2016-10-18 08:40:00)"
2,49,2016-10-18 08:40:00,1,0,"[2016-10-18 08:40:00,2016-10-18 09:00:00)"
3,61,2016-10-18 09:00:00,1,0,"[2016-10-18 09:00:00,2016-10-18 09:20:00)"
4,39,2016-10-18 09:20:00,1,0,"[2016-10-18 09:20:00,2016-10-18 09:40:00)"
5,46,2016-10-18 09:40:00,1,0,"[2016-10-18 09:40:00,2016-10-18 10:00:00)"
6,48,2016-10-19 08:00:00,1,0,"[2016-10-19 08:00:00,2016-10-19 08:20:00)"
7,50,2016-10-19 08:20:00,1,0,"[2016-10-19 08:20:00,2016-10-19 08:40:00)"
8,50,2016-10-19 08:40:00,1,0,"[2016-10-19 08:40:00,2016-10-19 09:00:00)"
9,42,2016-10-19 09:00:00,1,0,"[2016-10-19 09:00:00,2016-10-19 09:20:00)"
10,38,2016-10-19 09:20:00,1,0,"[2016-10-19 09:20:00,2016-10-19 09:40:00)"
11,59,2016-10-19 09:40:00,1,0,"[2016-10-19 09:40:00,2016-10-19 10:00:00)"
12,50,2016-10-20 08:00:00,1,0,"[2016-10-20 08:00:00,2016-10-20 08:20:00)"
13,49,2016-10-20 08:20:00,1,0,"[2016-10-20 08:20:00,2016-10-20 08:40:00)"
14,62,2016-10-20 08:40:00,1,0,"[2016-10-20 08:40:00,2016-10-20 09:00:00)"
15,38,2016-10-20 09:00:00,1,0,"[2016-10-20 09:00:00,2016-10-20 09:20:00)"
16,50,2016-10-20 09:20:00,1,0,"[2016-10-20 09:20:00,2016-10-20 09:40:00)"
17,44,2016-10-20 09:40:00,1,0,"[2016-10-20 09:40:00,2016-10-20 10:00:00)"
18,37,2016-10-21 08:00:00,1,0,"[2016-10-21 08:00:00,2016-10-21 08:20:00)"
19,46,2016-10-21 08:20:00,1,0,"[2016-10-21 08:20:00,2016-10-21 08:40:00)"
20,46,2016-10-21 08:40:00,1,0,"[2016-10-21 08:40:00,2016-10-21 09:00:00)"
21,38,2016-10-21 09:00:00,1,0,"[2016-10-21 09:00:00,2016-10-21 09:20:00)"
22,45,2016-10-21 09:20:00,1,0,"[2016-10-21 09:20:00,2016-10-21 09:40:00)"
23,44,2016-10-21 09:40:00,1,0,"[2016-10-21 09:40:00,2016-10-21 10:00:00)"
24,35,2016-10-22 08:00:00,1,0,"[2016-10-22 08:00:00,2016-10-22 08:20:00)"
25,52,2016-10-22 08:20:00,1,0,"[2016-10-22 08:20:00,2016-10-22 08:40:00)"
26,39,2016-10-22 08:40:00,1,0,"[2016-10-22 08:40:00,2016-10-22 09:00:00)"
27,57,2016-10-22 09:00:00,1,0,"[2016-10-22 09:00:00,2016-10-22 09:20:00)"
28,55,2016-10-22 09:20:00,1,0,"[2016-10-22 09:20:00,2016-10-22 09:40:00)"
29,41,2016-10-22 09:40:00,1,0,"[2016-10-22 09:40:00,2016-10-22 10:00:00)"
...,...,...,...,...,...
390,81,2016-10-20 17:00:00,3,1,"[2016-10-20 17:00:00,2016-10-20 17:20:00)"
391,84,2016-10-20 17:20:00,3,1,"[2016-10-20 17:20:00,2016-10-20 17:40:00)"
392,80,2016-10-20 17:40:00,3,1,"[2016-10-20 17:40:00,2016-10-20 18:00:00)"
393,54,2016-10-20 18:00:00,3,1,"[2016-10-20 18:00:00,2016-10-20 18:20:00)"
394,78,2016-10-20 18:20:00,3,1,"[2016-10-20 18:20:00,2016-10-20 18:40:00)"
395,66,2016-10-20 18:40:00,3,1,"[2016-10-20 18:40:00,2016-10-20 19:00:00)"
396,92,2016-10-21 17:00:00,3,1,"[2016-10-21 17:00:00,2016-10-21 17:20:00)"
397,83,2016-10-21 17:20:00,3,1,"[2016-10-21 17:20:00,2016-10-21 17:40:00)"
398,70,2016-10-21 17:40:00,3,1,"[2016-10-21 17:40:00,2016-10-21 18:00:00)"
399,62,2016-10-21 18:00:00,3,1,"[2016-10-21 18:00:00,2016-10-21 18:20:00)"
400,73,2016-10-21 18:20:00,3,1,"[2016-10-21 18:20:00,2016-10-21 18:40:00)"
401,58,2016-10-21 18:40:00,3,1,"[2016-10-21 18:40:00,2016-10-21 19:00:00)"
402,62,2016-10-22 17:00:00,3,1,"[2016-10-22 17:00:00,2016-10-22 17:20:00)"
403,68,2016-10-22 17:20:00,3,1,"[2016-10-22 17:20:00,2016-10-22 17:40:00)"
404,65,2016-10-22 17:40:00,3,1,"[2016-10-22 17:40:00,2016-10-22 18:00:00)"
405,56,2016-10-22 18:00:00,3,1,"[2016-10-22 18:00:00,2016-10-22 18:20:00)"
406,55,2016-10-22 18:20:00,3,1,"[2016-10-22 18:20:00,2016-10-22 18:40:00)"
407,77,2016-10-22 18:40:00,3,1,"[2016-10-22 18:40:00,2016-10-22 19:00:00)"
408,80,2016-10-23 17:00:00,3,1,"[2016-10-23 17:00:00,2016-10-23 17:20:00)"
409,81,2016-10-23 17:20:00,3,1,"[2016-10-23 17:20:00,2016-10-23 17:40:00)"
410,76,2016-10-23 17:40:00,3,1,"[2016-10-23 17:40:00,2016-10-23 18:00:00)"
411,78,2016-10-23 18:00:00,3,1,"[2016-10-23 18:00:00,2016-10-23 18:20:00)"
412,88,2016-10-23 18:20:00,3,1,"[2016-10-23 18:20:00,2016-10-23 18:40:00)"
413,79,2016-10-23 18:40:00,3,1,"[2016-10-23 18:40:00,2016-10-23 19:00:00)"
414,80,2016-10-24 17:00:00,3,1,"[2016-10-24 17:00:00,2016-10-24 17:20:00)"
415,97,2016-10-24 17:20:00,3,1,"[2016-10-24 17:20:00,2016-10-24 17:40:00)"
416,80,2016-10-24 17:40:00,3,1,"[2016-10-24 17:40:00,2016-10-24 18:00:00)"
417,91,2016-10-24 18:00:00,3,1,"[2016-10-24 18:00:00,2016-10-24 18:20:00)"
418,94,2016-10-24 18:20:00,3,1,"[2016-10-24 18:20:00,2016-10-24 18:40:00)"
419,74,2016-10-24 18:40:00,3,1,"[2016-10-24 18:40:00,2016-10-24 19:00:00)"

In [19]:
predict_result = pd.read_csv("./training/volume_predict_multi_sample15_filter.csv")
predict_result.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   46.17
1            1  [2016-10-18 08:20:00,2016-10-18 08:40:00)          0   46.52
2            1  [2016-10-18 08:40:00,2016-10-18 09:00:00)          0   51.76
3            1  [2016-10-18 09:00:00,2016-10-18 09:20:00)          0   52.27
4            1  [2016-10-18 09:20:00,2016-10-18 09:40:00)          0   54.11

In [20]:
result_compare = pd.merge(predict_result, result, on=["tollgate_id", "time_window", "direction"])
result_compare

,tollgate_id,time_window,direction,volume_x,volume_y,time
0,1,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,46.17,50,2016-10-18 08:00:00
1,1,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",0,46.52,41,2016-10-18 08:20:00
2,1,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",0,51.76,49,2016-10-18 08:40:00
3,1,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",0,52.27,61,2016-10-18 09:00:00
4,1,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",0,54.11,39,2016-10-18 09:20:00
5,1,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",0,48.97,46,2016-10-18 09:40:00
6,1,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",0,44.53,48,2016-10-19 08:00:00
7,1,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",0,53.89,50,2016-10-19 08:20:00
8,1,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",0,48.17,50,2016-10-19 08:40:00
9,1,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",0,47.71,42,2016-10-19 09:00:00
10,1,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",0,52.10,38,2016-10-19 09:20:00
11,1,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",0,49.53,59,2016-10-19 09:40:00
12,1,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",0,45.93,50,2016-10-20 08:00:00
13,1,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",0,63.16,49,2016-10-20 08:20:00
14,1,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",0,49.34,62,2016-10-20 08:40:00
15,1,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",0,46.39,38,2016-10-20 09:00:00
16,1,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",0,52.20,50,2016-10-20 09:20:00
17,1,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",0,51.85,44,2016-10-20 09:40:00
18,1,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",0,42.76,37,2016-10-21 08:00:00
19,1,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",0,50.52,46,2016-10-21 08:20:00
20,1,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",0,54.28,46,2016-10-21 08:40:00
21,1,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",0,51.52,38,2016-10-21 09:00:00
22,1,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",0,58.96,45,2016-10-21 09:20:00
23,1,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",0,51.56,44,2016-10-21 09:40:00
24,1,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",0,34.85,35,2016-10-22 08:00:00
25,1,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",0,46.09,52,2016-10-22 08:20:00
26,1,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",0,50.34,39,2016-10-22 08:40:00
27,1,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",0,48.95,57,2016-10-22 09:00:00
28,1,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",0,50.86,55,2016-10-22 09:20:00
29,1,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",0,50.21,41,2016-10-22 09:40:00
...,...,...,...,...,...,...
390,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",1,85.01,81,2016-10-20 17:00:00
391,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",1,82.42,84,2016-10-20 17:20:00
392,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",1,93.45,80,2016-10-20 17:40:00
393,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",1,82.79,54,2016-10-20 18:00:00
394,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",1,79.69,78,2016-10-20 18:20:00
395,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",1,67.52,66,2016-10-20 18:40:00
396,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",1,84.80,92,2016-10-21 17:00:00
397,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",1,97.39,83,2016-10-21 17:20:00
398,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",1,96.89,70,2016-10-21 17:40:00
399,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",1,75.14,62,2016-10-21 18:00:00
400,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",1,76.18,73,2016-10-21 18:20:00
401,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",1,80.83,58,2016-10-21 18:40:00
402,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",1,75.62,62,2016-10-22 17:00:00
403,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",1,79.76,68,2016-10-22 17:20:00
404,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",1,85.09,65,2016-10-22 17:40:00
405,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",1,72.54,56,2016-10-22 18:00:00
406,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",1,54.14,55,2016-10-22 18:20:00
407,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",1,60.82,77,2016-10-22 18:40:00
408,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",1,95.84,80,2016-10-23 17:00:00
409,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",1,99.72,81,2016-10-23 17:20:00
410,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",1,95.95,76,2016-10-23 17:40:00
411,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",1,76.36,78,2016-10-23 18:00:00
412,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",1,78.13,88,2016-10-23 18:20:00
413,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",1,66.02,79,2016-10-23 18:40:00
414,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",1,80.29,80,2016-10-24 17:00:00
415,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",1,84.59,97,2016-10-24 17:20:00
416,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",1,88.92,80,2016-10-24 17:40:00
417,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",1,73.45,91,2016-10-24 18:00:00
418,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",1,69.98,94,2016-10-24 18:20:00
419,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",1,60.15,74,2016-10-24 18:40:00

In [21]:
result_compare["ratio"] = abs(result_compare["volume_x"] - result_compare["volume_y"]) / result_compare["volume_y"]
result_compare = result_compare.sort_values(["ratio"], ascending=False)

In [22]:
result_compare["ratio"].mean()

0.16576144209576385

In [23]:
result_compare[(result_compare["tollgate_id"] == 3) & (result_compare["direction"] == 1)]["ratio"].mean()

0.1722816065973509

In [24]:
result_compare["hour"] = result_compare["time"].apply(lambda x: x.hour)
temp = result_compare[(result_compare["hour"] > 12) & (result_compare["tollgate_id"] == 3) & (result_compare["direction"] == 1)]
temp["ratio"].mean()
# temp["x - y"] = abs(temp["volume_x"] - temp["volume_y"]) / temp["volume_y"]
# temp["x - y"].mean()
# temp.sort_values(["x - y"]).to_csv("compare.csv")

0.16274760235078184

In [25]:
result_compare

,tollgate_id,time_window,direction,volume_x,volume_y,time,ratio,hour
131,1,"[2016-10-18 18:40:00,2016-10-18 19:00:00)",1,78.70,39,2016-10-18 18:40:00,1.017949,18
81,1,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",0,28.80,15,2016-10-24 18:00:00,0.920000,18
83,1,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",0,24.58,13,2016-10-24 18:40:00,0.890769,18
368,3,"[2016-10-23 08:40:00,2016-10-23 09:00:00)",1,124.54,70,2016-10-23 08:40:00,0.779143,8
235,2,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",0,80.81,48,2016-10-22 17:20:00,0.683542,17
200,2,"[2016-10-23 08:40:00,2016-10-23 09:00:00)",0,94.91,57,2016-10-23 08:40:00,0.665088,8
370,3,"[2016-10-23 09:20:00,2016-10-23 09:40:00)",1,121.29,74,2016-10-23 09:20:00,0.639054,9
236,2,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",0,78.67,48,2016-10-22 17:40:00,0.638958,17
239,2,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",0,48.90,30,2016-10-22 18:40:00,0.630000,18
361,3,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",1,98.00,61,2016-10-22 08:20:00,0.606557,8
226,2,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",0,55.93,35,2016-10-20 18:20:00,0.598000,18
73,1,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",0,58.75,37,2016-10-23 17:20:00,0.587838,17
127,1,"[2016-10-18 17:20:00,2016-10-18 17:40:00)",1,114.17,72,2016-10-18 17:20:00,0.585694,17
77,1,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",0,34.23,22,2016-10-23 18:40:00,0.555909,18
202,2,"[2016-10-23 09:20:00,2016-10-23 09:40:00)",0,103.36,67,2016-10-23 09:20:00,0.542687,9
393,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",1,82.79,54,2016-10-20 18:00:00,0.533148,18
87,1,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",1,129.97,86,2016-10-18 09:00:00,0.511279,9
365,3,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",1,118.34,79,2016-10-22 09:40:00,0.497975,9
82,1,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",0,26.78,18,2016-10-24 18:20:00,0.487778,18
160,1,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",1,46.79,91,2016-10-23 18:20:00,0.485824,18
238,2,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",0,57.73,39,2016-10-22 18:20:00,0.480256,18
112,1,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",1,117.83,80,2016-10-22 09:20:00,0.472875,9
159,1,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",1,40.59,77,2016-10-23 18:00:00,0.472857,18
71,1,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",0,20.60,14,2016-10-22 18:40:00,0.471429,18
251,2,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",0,54.43,37,2016-10-24 18:40:00,0.471081,18
47,1,"[2016-10-18 18:40:00,2016-10-18 19:00:00)",0,21.96,15,2016-10-18 18:40:00,0.464000,18
363,3,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",1,118.24,81,2016-10-22 09:00:00,0.459753,9
58,1,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",0,23.10,16,2016-10-20 18:20:00,0.443750,18
364,3,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",1,121.05,84,2016-10-22 09:20:00,0.441071,9
31,1,"[2016-10-23 08:20:00,2016-10-23 08:40:00)",0,39.41,28,2016-10-23 08:20:00,0.407500,8
...,...,...,...,...,...,...,...,...
91,1,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",1,109.14,111,2016-10-19 08:20:00,0.016757,8
331,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",0,108.78,107,2016-10-24 17:20:00,0.016636,17
356,3,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",1,119.95,118,2016-10-21 08:40:00,0.016525,8
302,3,"[2016-10-19 17:40:00,2016-10-19 18:00:00)",0,97.56,96,2016-10-19 17:40:00,0.016250,17
406,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",1,54.14,55,2016-10-22 18:20:00,0.015636,18
100,1,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",1,107.59,106,2016-10-20 09:20:00,0.015000,9
257,3,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",0,125.14,127,2016-10-18 09:40:00,0.014646,9
79,1,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",0,38.44,39,2016-10-24 17:20:00,0.014359,17
102,1,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",1,104.48,106,2016-10-21 08:00:00,0.014340,8
212,2,"[2016-10-18 17:40:00,2016-10-18 18:00:00)",0,66.04,67,2016-10-18 17:40:00,0.014328,17
358,3,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",1,107.50,106,2016-10-21 09:20:00,0.014151,9
321,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",0,76.90,78,2016-10-22 18:00:00,0.014103,18
166,1,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",1,82.86,84,2016-10-24 18:20:00,0.013571,18
63,1,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",0,37.51,38,2016-10-21 18:00:00,0.012895,18
98,1,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",1,115.45,114,2016-10-20 08:40:00,0.012719,8
218,2,"[2016-10-19 17:40:00,2016-10-19 18:00:00)",0,63.24,64,2016-10-19 17:40:00,0.011875,17
245,2,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",0,49.45,50,2016-10-23 18:40:00,0.011000,18
367,3,"[2016-10-23 08:20:00,2016-10-23 08:40:00)",1,81.73,81,2016-10-23 08:20:00,0.009012,8
243,2,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",0,49.44,49,2016-10-23 18:00:00,0.008980,18
36,1,"[2016-10-24 08:00:00,2016-10-24 08:20:00)",0,48.56,49,2016-10-24 08:00:00,0.008980,8
184,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",0,107.12,108,2016-10-20 09:20:00,0.008148,9
310,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",0,73.51,74,2016-10-20 18:20:00,0.006622,18
301,3,"[2016-10-19 17:20:00,2016-10-19 17:40:00)",0,104.38,105,2016-10-19 17:20:00,0.005905,17
322,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",0,70.60,71,2016-10-22 18:20:00,0.005634,18
95,1,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",1,110.41,111,2016-10-19 09:40:00,0.005315,9
24,1,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",0,34.85,35,2016-10-22 08:00:00,0.004286,8
414,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",1,80.29,80,2016-10-24 17:00:00,0.003625,17
88,1,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",1,107.68,108,2016-10-18 09:20:00,0.002963,9
147,1,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",1,74.10,74,2016-10-21 18:00:00,0.001351,18
355,3,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",1,114.08,114,2016-10-21 08:20:00,0.000702,8

In [30]:
result_compare["day"] = result_compare["time"].apply(lambda x: x.day)
for tollgate, direction in tollgate_direction:
    temp = volume_data[(volume_data["tollgate"] == tollgate) & (volume_data["direction"] == direction)][["date_time"]]
    temp["volume"] = 1
    temp.index = temp["date_time"]
    del temp["date_time"]
    temp = temp.resample("20T").sum()
#     print temp
    
    temp["time"] = temp.index
    temp["day"] = temp["time"].apply(lambda x: x.day)
    temp = temp[temp["day"] == 24]["volume"].plot()
    
    compare_temp = result_compare[(result_compare["tollgate_id"] == tollgate) & 
                                  (result_compare["direction"] == direction) & 
                                  (result_compare["day"] == 24)].copy()
    compare_temp = compare_temp.sort_values(["time"])
    compare_temp.index = compare_temp["time"]
    compare_temp[compare_temp["hour"] < 12]["volume_x"].plot()
    compare_temp[compare_temp["hour"] > 12]["volume_x"].plot()
#     result_compare[(result_compare["tollgate_id"] == tollgate) & (result_compare["direction"] == direction)].plot()
    plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot

In [37]:
train_data2 = pd.read_csv("./dataSet_phase2/dataSet_phase2/result.csv")
train_data2

    order                              model   parameters  result
0       1                           LightGBM          NaN  0.1213
1       2                            Xgboost          NaN  0.1216
2       3                               GBRT          NaN  0.1210
3       4                     ensemble model    1,2,3加权平均  0.1187
4       5        LightGBM_tollgate_direction          NaN  0.1154
5       6         Xgboost_tollgate_direction          NaN  0.1170
6       7            GBRT_tollgate_direction          NaN  0.1149
7       8  ensemble model_tollgate_direction    5,6,7加权平均  0.1133
8       9         LightGBM_morning_afternoon          NaN  0.1180
9      10          Xgboost_morning_afternoon          NaN  0.1181
10     11             GBRT_morning_afternoon          NaN  0.1214
11     12   ensemble_model_morning_afternoon  9,10,11加权平均  0.1160
12     13                 ensemble_3ensemble   4,8,12加权平均  0.1125